* {
    margin: 0;
    padding: 0;
}


#home {
    height: 300px;
    width: 100vw;
    background: indianred;
}

#about {
    height: 300px;
    width: 100vw;
    background: lightcoral;
}

#portfolio {
    height: 300px;
    width: 100vw;
    background: salmon;
}

#contact { 
    height: 300px;
    width: 100vw;
    background: rosybrown;
}


/* 

    Navbar /* And this code creates a horizontal bar, with spacing in between each menu item!*/

*/


/* 1. this code strips the UL styling  */ 

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

/* 2. this creates a horizontal bar, with spacing in between each menu item! */

li {
    display:inline-block;
    margin-right: 10px;
}

/* 3. lastly, this removes the default link style (underline and blue) */ 

.nav-link {
    text-decoration: none;
    color: #000;
}